.ticket-list_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ticket-list__button {
	color: black;
	outline: none;
	border: none;
	background-color: whitesmoke;
	width: 50%;
	height: 40px;
	border-radius: 3px;
	font-size: 17px;
	transition: .2s ease;
	margin-top: 0;
	margin-bottom: 30px;
	transition: .2s ease;
}

.ticket-list__button:hover {
	cursor: pointer;
	transition: .2s ease;
	transform: scale(1.03);
	background-color: #00b0ff;
	color: white;
}